.form-home {
  height: 3991px;
  background-color: $MainBackground;
  margin-top: -202px;
  z-index: 2;

}

.brief-buton {
  width: 389px;
  height: 103px;
  background-color: $briefbuton;
  float: right;
  margin-right: 46px;
  margin-top: -103px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  span {

    margin-top: 28px;
    position: absolute;
    i {
      margin-right: 17px;
      margin-left: 15px;

    }

  }
  p {
    display: inline-block;
    margin-top: 35px;
    font-size: 29px;
    font-family: Geogrotesque-SemiBold;
    color: $MainBackground;
    margin-left: 63px;
  }
}

.form-contorlle {

}

.form-controlle-left {
  margin-left: 60px;
  margin-top: 70px;
  margin-right: 48px;
}

.feedback-title {
  font-family: poppinssemibold;
  font-size: 28px;
  color: $title-black;
}

.yataycizgi {
   margin-bottom: 12px;
}

.stupday {
  span p:before {
    border-left: 4px solid $solidred;
    content: "";
    margin-right: 12px;

  }

  span {
    img{
      float: right;
       }
    p{
      font-family: Geogrotesque-Regular;
      font-size: 20px;
      color: $formtext;
      display: inline-block;
    }
  }


}
.stupday-text{
  width: 100%;
  max-width: 100%;
  border-color: $formborder;
  border-radius: 2px;
border-style: solid;
}
.alert-box-day{

  position: absolute;
  top: 48px;
  right: 24px;

}
.alert{
  background-color: $allerttextbox;
   font-family: Arial;
  color:$allertextboxtext;
  font-size: 13px;
}

.yataycizgi-whatday{
  margin-top: 37px;
}

.textbox-size-startday{
  height:158px;
}

.textbox-size-company{
  height:50px;
}
.yataycizgi-company{
  margin-top: 12px;
}

.yataycizgi-county{
  margin-top: 10px;
}
.yataycizgi-store{
  margin-top: 18px;
}

.buton-submit{
  margin-top: 99px;
  p{
    font-family: poppinslight;
    color:  $submittextcolor;
    font-size: 11px;
    margin: 0;
    display: inline;
    margin-left: 16px;
  }
}
.buton-gonder{
  font-family: poppinsregular;
  font-size:16px ;
  color:$submitbuttoncolor;
}

.controlle-right{
  margin-top: 70px;
  margin-right: 45px;
  margin-left: 50px;
}
.uzun-cizgi{
  border:1px solid #eeeeee ;
margin-top: 46px;
}
.box-half{
  margin-top: 23px;
  margin-left: -15px;
}

.alert-box-commet{

  position: absolute;
  top: 1px;
  right: 24px;

}
.textbox-top{
  margin-top: 25px;
}
.input-box {
input{
  width:16px;
  height: 17px;
  border: 1px solid $chekboxcolor;

}
  p{
    font-family:Geogrotesque-Regular ;
    font-size: 20px;
    color: $formtext;
    display: inline-block;
  }
}

.text-box{
  p{
    font-family:Geogrotesque-Regular;
    font-size: 20px;
    color: $formtext;
    border-radius: 5px;
    border: 1px solid $textboxredus ;
    padding-top:16px ;
    padding-left:22px;
    padding-bottom: 17px;
  }
  width: 188px;
  height: 51px;
}

.textbox-box-tx{

margin-top: 22px;
}
.textbox-top5-tx{
  border-radius: 5px;
  border: 1px solid $textboxredus ;
  width: 189px;
  height: 62px;
}

.brief-text{
  p{
font-family: Geogrotesque-SemiBold;
    font-size: 29px;
    color: $breiftextcolor;
  }
}