$MainBackground:#ffffff;
$Mainhomebutton:#0c5f77;
$FacebookOpak:	#3b5998;
$Twitter:#1da1f2;
$googleplus:#2d2d2d;
$vimeo:#45bbff;
$pinterest:#cb2027;
$briefbuton:#0c5f77;
$title-black:#333333;
$solidred:#FF0000;
$formtext:#575756;
$formborder:#d7d7d7;
$allerttextbox:#ededed;
$allertextboxtext:#bdbdbd;
$submitbuttoncolor:#555555;
 $submittextcolor:#cbcbcb;