@font-face {
  font-family: 'latoregular';
  src: url("../fonts/web/lato-regular-webfont.woff2") format("woff2"), url("../fonts/web/lato-regular-webfont.woff") format("woff"), url("../fonts/web/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/web/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/web/opensans-regular-webfont.woff") format("woff"), url("../fonts/web/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinslight';
  src: url("../fonts/web/poppins-light-webfont.woff2") format("woff2"), url("../fonts/web/poppins-light-webfont.woff") format("woff"), url("../fonts/web/poppins-light-webfont.svg#poppinslight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinsregular';
  src: url("../fonts/web/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/web/poppins-regular-webfont.woff") format("woff"), url("../fonts/web/poppins-regular-webfont.svg#poppinsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinssemibold';
  src: url("../fonts/web/poppins-semibold-webfont.woff2") format("woff2"), url("../fonts/web/poppins-semibold-webfont.woff") format("woff"), url("../fonts/web/poppins-semibold-webfont.svg#poppinssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("../fonts/web/raleway-bold-webfont.woff2") format("woff2"), url("../fonts/web/raleway-bold-webfont.woff") format("woff"), url("../fonts/web/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaylight';
  src: url("../fonts/web/raleway-light-webfont.woff2") format("woff2"), url("../fonts/web/raleway-light-webfont.woff") format("woff"), url("../fonts/web/raleway-light-webfont.svg#ralewaylight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayregular';
  src: url("../fonts/web/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/web/raleway-regular-webfont.woff") format("woff"), url("../fonts/web/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geogrotesque-Regular';
  src: url("../fonts/web/Geogrotesque-Regular.eot");
  src: url("../fonts/web/Geogrotesque-Regular.woff2") format("woff2"), url("../fonts/web/Geogrotesque-Regular.woff") format("woff"), url("../fonts/web/Geogrotesque-Regular.ttf") format("truetype"), url("../fonts/web/Geogrotesque-Regular.svg#Geogrotesque-Regular") format("svg"), url("../fonts/web/Geogrotesque-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geogrotesque-Light';
  src: url("../fonts/web/Geogrotesque-Light.eot");
  src: url("../fonts/web/Geogrotesque-Light.woff2") format("woff2"), url("../fonts/web/Geogrotesque-Light.woff") format("woff"), url("../fonts/web/Geogrotesque-Light.ttf") format("truetype"), url("../fonts/web/Geogrotesque-Light.svg#Geogrotesque-Light") format("svg"), url("../fonts/web/Geogrotesque-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geogrotesque-Bold';
  src: url("../fonts/web/Geogrotesque-Bold.eot");
  src: url("../fonts/web/Geogrotesque-Bold.woff2") format("woff2"), url("../fonts/web/Geogrotesque-Bold.woff") format("woff"), url("../fonts/web/Geogrotesque-Bold.ttf") format("truetype"), url("../fonts/web/Geogrotesque-Bold.svg#Geogrotesque-Bold") format("svg"), url("../fonts/web/Geogrotesque-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geogrotesque-SemiBold';
  src: url("../fonts/web/Geogrotesque-SemiBold.eot");
  src: url("../fonts/web/Geogrotesque-SemiBold.woff2") format("woff2"), url("../fonts/web/Geogrotesque-SemiBold.woff") format("woff"), url("../fonts/web/Geogrotesque-SemiBold.ttf") format("truetype"), url("../fonts/web/Geogrotesque-SemiBold.svg#Geogrotesque-SemiBold") format("svg"), url("../fonts/web/Geogrotesque-SemiBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

.main {
  width: 100%;
  background-color: #ffffff; }

.form-main {
  background-color: #f7f7f7; }

.sol-cizgi {
  border: solid 1px #eeeeee;
  display: inline-block;
  width: 10%; }

.orta-cizgi {
  width: 15px;
  height: 15px;
  border: solid 2px #eeeeee;
  border-color: transparent transparent #eeeeee #eeeeee;
  border-radius: 0px 0px 0px 0px;
  transform: rotate(-45deg);
  display: inline-block;
  margin-top: 6.4px;
  margin-left: -1px;
  position: absolute; }

.sag-cizgi {
  border: solid 1px #eeeeee;
  display: inline-block;
  margin-left: 16px;
  width: 75%; }

.header {
  background-image: url("../img/backgroun-img.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 909px;
  padding-top: 58px; }

.logo {
  display: inline-block; }
  .logo img {
    width: 128px;
    height: 132px; }

.logo-text {
  display: inline-block;
  position: absolute;
  margin-top: 31px;
  padding-left: 17px; }
  .logo-text p:first-child {
    margin-top: 0; }
  .logo-text p {
    margin: 0;
    margin-top: -5px;
    font-family: "Geogrotesque-Regular";
    font-size: 20px;
    color: #ffffff; }

.social {
  float: right;
  margin-top: 43px; }
  .social ul {
    list-style: none outside none;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .social ul li {
      float: left; }
  .social span {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border: solid 2px #ffffff;
    width: 34px;
    height: 34px;
    display: block;
    margin-right: 8px; }
    .social span i {
      font-size: 16px;
      margin-left: 7px;
      margin-top: 8px;
      color: #ffffff; }
  .social span:last-child {
    margin-right: 15px; }

.button-color {
  background-color: #0c5f77;
  color: #fff;
  font-family: "ralewaybold";
  font-size: 14px; }

.facebook i {
  margin-left: 10px !important; }

.facebook:hover i {
  color: #3b5998; }

.twitter:hover i {
  color: #1da1f2; }

.googleplus i {
  margin-left: 5px !important; }

.googleplus:hover i {
  color: #2d2d2d; }

.vimeo:hover i {
  color: #45bbff; }

.pinterest:hover i {
  color: #cb2027; }

.slider {
  margin-top: 58px; }
  .slider p {
    font-family: "Geogrotesque-Light";
    color: #ffffff;
    font-size: 20px; }
  .slider h3 {
    font-family: "Geogrotesque-Bold";
    color: #ffffff;
    font-size: 58px; }

.carousel {
  height: 208px; }

.carousel-caption {
  position: static;
  text-align: left; }

.carousel-indicators {
  left: 30px;
  margin-bottom: -30px; }

.form-home {
  background-color: #ffffff;
  margin-top: -202px;
  z-index: 2;
  padding-bottom: 78px;
  margin-bottom: 179px; }

.brief-buton {
  width: 389px;
  height: 103px;
  background-color: #0c5f77;
  float: right;
  margin-right: 46px;
  margin-top: -103px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  .brief-buton span {
    margin-top: 28px;
    position: absolute; }
    .brief-buton span i {
      margin-right: 17px;
      margin-left: 15px; }
  .brief-buton p {
    display: inline-block;
    margin-top: 35px;
    font-size: 29px;
    font-family: Geogrotesque-SemiBold;
    color: #ffffff;
    margin-left: 63px; }

.form-controlle-left {
  margin-left: 60px;
  margin-top: 70px;
  margin-right: 48px; }

.feedback-title {
  font-family: poppinssemibold;
  font-size: 28px;
  color: #333333; }

.yataycizgi {
  margin-bottom: 12px; }

.stupday span p:before {
  border-left: 4px solid #FF0000;
  content: "";
  margin-right: 12px; }

.stupday span img {
  float: right; }

.stupday span p {
  font-family: Geogrotesque-Regular;
  font-size: 20px;
  color: #575756;
  display: inline-block; }

.stupday-text {
  width: 100%;
  max-width: 100%;
  border-color: #d7d7d7;
  border-radius: 2px;
  border-style: solid; }

.alert-box-day {
  position: absolute;
  top: 48px;
  right: 24px; }

.alert {
  background-color: #ededed;
  font-family: Arial;
  color: #bdbdbd;
  font-size: 13px; }

.yataycizgi-whatday {
  margin-top: 37px; }

.textbox-size-startday {
  height: 158px; }

.textbox-size-company {
  height: 50px; }

.yataycizgi-company {
  margin-top: 12px; }

.yataycizgi-county {
  margin-top: 10px; }

.yataycizgi-store {
  margin-top: 18px; }

.buton-submit {
  margin-top: 99px; }
  .buton-submit p {
    font-family: poppinslight;
    color: #cbcbcb;
    font-size: 11px;
    margin: 0;
    display: inline;
    margin-left: 16px; }

.buton-gonder {
  font-family: poppinsregular;
  font-size: 16px;
  color: #555555; }

.controlle-right {
  margin-top: 70px;
  margin-right: 45px;
  margin-left: 50px; }

.uzun-cizgi {
  border: 1px solid #eeeeee;
  margin-top: 46px; }

.box-half {
  margin-top: 23px;
  margin-left: -15px; }

.alert-box-commet {
  position: absolute;
  top: 1px;
  right: 24px; }

.textbox-top {
  margin-top: 25px; }

.input-box input {
  width: 16px;
  height: 17px;
  border: 1px solid #dedede; }

.input-box p {
  font-family: Geogrotesque-Regular;
  font-size: 20px;
  color: #575756;
  display: inline-block; }

.text-box-ck {
  width: 188px;
  height: 51px; }
  .text-box-ck p {
    font-family: Geogrotesque-Regular;
    font-size: 20px;
    color: #575756;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    padding-top: 16px;
    padding-left: 22px;
    padding-bottom: 17px; }

.textbox-box-tx {
  margin-top: 22px; }

.textbox-top5-tx {
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  width: 189px;
  height: 62px; }

.brief-text p {
  font-family: Geogrotesque-SemiBold;
  font-size: 29px;
  color: #e30613;
  margin-top: 38px; }

.biref-main-tex p {
  font-family: Geogrotesque-Light;
  font-size: 18px;
  color: #575756;
  margin-top: 21px; }

.new {
  background: #0c5f77;
  height: 157px; }
  .new p {
    color: #ffffff;
    font-family: ralewaylight;
    font-size: 37px;
    margin-top: 64px;
    margin-left: 28px;
    display: inline-block; }

.new-button {
  float: right;
  margin-right: 30px;
  margin-top: 83px;
  border-radius: 5px 5px 5px 5px;
  font-family: open_sansregular;
  font-size: 14px; }

.new-button-text {
  border-radius: 5px 0 0 5px;
  height: 40px;
  margin-right: -3.6px;
  width: 268px;
  color: #999999; }

.new-button-text-post {
  border-radius: 0 5px 5px 0;
  height: 40px;
  width: 81px;
  border: 5px solid transparent;
  color: #ffffff;
  background-color: #dc3023; }

.footerend {
  height: 460px;
  background-image: url("../img/main.png");
  background-repeat: no-repeat; }

.footer-logo {
  margin-top: 61px; }

.selam {
  margin-top: 28px; }
  .selam p {
    font-family: poppinsregular;
    font-size: 20px;
    color: #ffffff; }

.footer-email p {
  display: inline-block;
  font-family: latoregular;
  color: #ffffff;
  font-size: 20px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px; }
